html {
.o_web_client { > .o_action_manager {
    overflow: auto;
        }
    }
}

.dashboard-NavCard{
    display: flex;
    flex-wrap: nowrap;
    margin: 9px;
    justify-content: space-evenly;
}

.inner_NavCard{
    margin:2px;
    display: flex;
    
}